<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sistema Compra & Ventas </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

         <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="clientes">
                        <span class="oi oi-people" aria-hidden="true"></span>Registro Clientes
                    </NavLink>
                </div>
               
                
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="articulo">
                        <span class="oi oi-beaker" aria-hidden="true"></span>Registro Articulos
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ventas">
                        <span class="oi oi-cart" aria-hidden="true"></span>Registro Ventas
                    </NavLink>
                </div>



                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="cClientes">
                        <span class="oi oi-task" aria-hidden="true"></span> Consulta clientes
                    </NavLink>
                </div>
              
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="cArticulo">
                        <span class="oi oi-task" aria-hidden="true"></span> Consulta articulos
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="CVenta">
                        <span class="oi oi-task" aria-hidden="true"></span> Consulta ventas
                    </NavLink>
                </div>
               
            </Authorized>
        </AuthorizeView>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
